@tailwind base;
@tailwind components;
@tailwind utilities;

.trans {
  @apply transition-all duration-500
}

::-webkit-scrollbar {
    width: 10px;
  }
   
::-webkit-scrollbar-track {
    background-color: #D9D9D9;
  }
   
::-webkit-scrollbar-thumb {
    background-color: #001D3D;
  }


::-moz-scrollbar {
  width: 10px;
}
   
::-moz-scrollbar-track {
  background-color: #D9D9D9;
}
   
::-moz-scrollbar-thumb {
  background-color: #001D3D;
}
