.parentSidebar div div span{
    display: none;
    opacity: 0;
   transform: scale(0.75);
   transition: 
     opacity 5s cubic-bezier(0.19, 1, 0.22, 1) 2s, 
     transform 5s cubic-bezier(0.19, 1, 0.22, 1) 2s;
}

.parentSidebar:hover div div span{
    display: flex;
    font-size: 20px;
    align-items: flex-start;
    opacity: 1;
      transform: scale(1);
}

.parentSidebar:hover div div{
    align-items: center;
    text-align: left;
    column-gap: 10px;
    row-gap: 5px;
}

.parentSidebar div div{
    display: flex;
    row-gap: 5px;
    height: 28px;
    align-items: center;
}

.parentSidebar:hover div{
    display: flex;
    align-items: flex-start;
    /* text-align: left; */
    /* align-self: self-start; */
    margin-left: 5px;
}

.parentSidebar div{
    row-gap: 25px;
}

.parentSidebar{
    width: 100px;
    transition-property: width;
  transition-duration: 1s;
}

.parentSidebar:hover{
    width: 220px;
    transition-property: width;
  transition-duration: 1s;
}
