.stepper_wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 20px; */
}
.stepper_item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  flex: 1;
}

.stepper_item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 25px;
  left: -50%;
  z-index: 2;
}

.stepper_item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 25px;
  left: 50%;
  z-index: 2;
}

.stepper_item .step_counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* background: #ccc; */
  margin-bottom: 6px;
}

.stepper_item.active {
  font-weight: bold;
}

/* .stepper_item.completed .step_counter {
  background-color: rgb(255, 68, 87);
} */

.stepper_item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 12px;
  left: 50%;
  z-index: 3;
}

.stepper_item:first-child::before {
  content: none;
}
.stepper_item:last-child::after {
  content: none;
}

.step_name {
  font-size: 10px;
}
